$color-white: #ffffff;
$color-light-grey: #c9c9c9c7;
$color-medium-grey:#7f7f7f;
$color-dark-grey: #20232a;
$color-black: #0a0b0b;

$color-yellow:#dba92c;
$color-dark-yellow: #a07b1c;

$color-lightsaber-blue: #4df;
$color-lightsaber-yellow: #ff0;
$color-lightsaber-red: #F00;
$color-lightsaber-green: #0F0;
$color-lightsaber-purple: #c0c;