* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  margin: 0;
  font-family: -apple-system, 'Univers', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

html{
  font-size: 62.5%
}

a {
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"]{
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

input[type="text"]{
  outline: none;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: 1px solid #dba92c;
  -webkit-text-fill-color: #dba92c;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
